.seller__section-title h3{
    color: #000;
}

.seller__img{
    width: 80px;
    height: 80px;
}

.seller__content h6{
    font-size: 1rem;
    color: #000;
}

@media (max-width: 992px){

    .seller__content h6{
        font-size: .8rem;
    }
}